header.header {
  background: var(--blue);
  
  > div {
    max-width: 1120px;
    margin: 0 auto;

    padding: 2rem 1rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h1 {
      margin-bottom: 20px;
      font-size: 3rem;
      color: var(--shapes);

      @media (max-width: 720px) {
        font-size: 1.5rem;
      } 
    }
    p {
      color: var(--shapes);
      font-weight: bold;
    }
  }
}